PORT=8080
WEB_PORT=3000
ENV=development
JWT_SECRET=secret
DB_HOST=localhost
DB_PORT=5432
DB_NAME=autograd
DB_USER=user
DB_PASSWORD=secret
REDIS_WORKER_HOST=redis://localhost:6379/0
FILE_UPLOAD_PATH=private/upload