<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autograd | Login</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <main id="app" class="container mt-4">
        <div v-if="showSuccessAlert" class="alert alert-success alert-dismissible" role="alert">
            Login Success!
            <button @click="showSuccessAlert = false" type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close"></button>
        </div>

        <div v-if="showFailAlert" class="alert alert-danger alert-dismissible" role="alert">
            Login Fail!
            <button @click="showFailAlert = false" type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close"></button>
        </div>

        <h1 class="text-center">Autograd Login</h1>
        <form class="container" id="login-form" @keyup:enter="login">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input v-model="email" name="email" type="email" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input v-model="password" name="password" type="password" class="form-control"
                    id="exampleInputPassword1">
            </div>
            <button v-on:click="login" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>
</body>

<script type="module">
    import { RefreshTokenStorer, AccessTokenStorer, parseJWT } from '/public/js/utils.js'
    import { config } from '/public/js/config.js'

    const App = {
        data() {
            return {
                email: 'example@email.com',
                password: '',
                showSuccessAlert: false,
                showFailAlert: false,
            }
        },
        methods: {
            login(ev) {
                ev.preventDefault()
                login(this.email, this.password)
                    .then(res => {
                        this.showSuccessAlert = true
                        setTimeout(() => { this.showSuccessAlert = false }, 3000)
                        console.log(res)
                    })
                    .catch(err => {
                        this.showFailAlert = true
                        setTimeout(() => { this.showFailAlert = false }, 3000)
                        console.log(err)
                    })
            },
        },
    }

    Vue.createApp(App).mount("#app")

    function login(email = "", pass = "") {
        const payload = {
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                email: email,
                password: pass,
            })
        }
        return new Promise((resolve, reject) => {
            fetch(config.API_URL + "/api/v1/users/login", payload)
                .then(res => {
                    if (res.status == 200) {
                        return res
                    }
                    reject(err)
                })
                .then(res => {
                    resolve(res)
                })
                .catch(err => {
                    console.log("reject")
                    reject(err)
                })
        })
    }
</script>

</html>